@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
  scroll-behavior: smooth;
  font-family: 'Poppins',sans-serif;
}
body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Raleway";

  background-color: black;
}


