/* 1. Imports must always be at the very top */
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

/* 2. The Standard Tailwind Directives (Use these instead of @import "tailwindcss") */
@import 'tailwindcss';



@font-face {
  font-family: SuisseIntl;
  src: url("/fonts/SuisseIntl-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Apparel;
  src: url("/fonts/Apparel-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body{
  color: #f5f5f5;
}


:root {
  --primary: #000000;
  --primary-hover: #111111;
  --bg: #ffffff;
  --surface: #f5f5f5;
  --text-dark: #000000;
  --text-light: #ffffff;
  --border: #000000;
}