@import "tailwindcss";

@layer base {
    * {
      @apply select-none;
    }
  }

  @font-face {
    font-family: 'Beautiful Freak';
    src: url('/fonts/BeautifulFreak.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }